<!-- `editing` when editing and `completed` when marked as completed -->
<li [class.completed]="todoCopia.completado"
    [class.editing]="editando">
  <div class="view">

    <input class="toggle" 
           type="checkbox"
           [formControl]="chkCompletado"
           >

    <label (dblclick)="editar()" >{{todo.texto | titlecase}}</label>

    <button class="destroy"
            (click)="borrar()"></button>
  </div>

  <!-- # = referencia local en Angular -->
  <input class="edit" 
         type="text"
         [formControl]="txtInput"
         (blur)="terminarEdicion()"
         #inputFisico>
         <!-- con el blur terminamos la edición del dobleclick -->
</li>
